@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

header.header {
  text-align: center;
  padding: 20px 40px 60px 40px;
}

h1.title {
  margin: 40px 0px 20px 0px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 40px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
